.big-title h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.9rem;
}

strong {
  @apply text-teal-500 dark:text-teal-400;
}

em {
  @apply text-amber-700 dark:text-amber-200;
}

.hist-detail {
  font-size: 90%;
}

.hist-detail p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 1.2rem;
}

#slideshow,
.mouse-trajectory {
  cursor: url("/cursor.png"), auto;
}

.mouse-trajectory {
  position: fixed;
  animation: 300ms linear mouse-trajectory;
  pointer-events: none;
}

.mouse-trajectory--close {
  animation: none;
  visibility: hidden;
}

@keyframes mouse-trajectory {
  from {
    transform: scale(0.8);
    opacity: 0.5;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
