.big-title h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.9rem;
}

strong {
  @apply text-teal-500 dark:text-teal-400;
}

em {
  @apply text-amber-700 dark:text-amber-200;
}

.hist-detail {
  font-size: 90%;
}

.hist-detail p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 1.2rem;
}
